h1 {
    color:darkorange;
    margin-left:60px
}

/* * {
    border: solid;
} */
.header * {
    border:solid;
}
.header{
    background-color:steelblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

h2 {
    color:lawngreen
}

p,h3{
    text-align: right;
}

h3 {
    color:lawngreen
}

body{
    background-color:rgb(27, 83, 116);
}
a:link {
    color:deepskyblue
}
a:visited {
    color:deepskyblue
}
.menu{
    margin-right:35px
}

.menu a {
    margin-left:25px
}

.item {
    position:relative;
}

.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.item:hover p{
    opacity:1
}

.item:hover img{
    opacity:0.33
}